body {
  background-color: #050505;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#calculadora {
  background-color: #b1b1b1;
  width: 322px;
  height: 500px;
  padding: 6px;
}
#calculadora .btn {
  margin: 2px;
  border-radius: 0;
  min-height: 44px;
  outline: none;
  box-shadow: none;
}
#calculadora .btn:hover {
  background-color: #bcbcbc;
}
#calculadora .btn:active {
  background-color: #909090;
}
header {
  height: 205px;
  font-size: 36px;
  font-weight: bold;
  position: relative;
}
#display {
  color: #000;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 48px;
  font-weight: 600;
}
#story {
  color: rgb(19, 103, 82);
  text-align: left;
  position: relative;
  padding: 2.6rem 0;
  width: 100%;
  font-size: 20px;
  font-weight: 50;
}
.btn-number {
  background-color: #efefef;
  font-size: 24px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 600;
}
.btn-others {
  background-color: #d1d1d1;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 20px;
}
